<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- link-font  -->
    <link rel="stylesheet" href="/public/assets/css/fonts.css">
    <link rel="stylesheet" href="/public/assets/css/slick.css">

    <!-- link-fevicon  -->
    <link rel="shortcut icon" href="/public/assets/img/favicon.png" type="image/x-icon">
    <!-- link-icon  -->
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/css/remixicon.css">
    <!-- animetion -->
    <link rel="stylesheet" href="/public/assets/css/animate.min.css">
    <!-- plugin -->
    <link rel="stylesheet" href="/public/assets/css/_ajax_css_all.min.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/public/assets/css/bootstrap_dist_css_min.css">
    <!-- media qury -->
    <link rel="stylesheet" href="/public/assets/css/media.css">
    <!-- link-css -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <!-- ===head-start=== -->
    <style>
        .alert {
            position: absolute;
            z-index: +11;
            left: 50%;
            transform: translateX(-50%);
        }
        .alert{
            button{
                border: 0;
                background-color: transparent;
            }
        }
    </style>
    <% if(msg && msg.length>0){%>
    <div class="alert alert-success w-25 m-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>
            <%= msg %>
        </strong>
    </div>
    <%} %>

    
    <!-- ===head-end=== -->
    <!-- ===login-start=== -->
    <section class="login-head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2>Log In</h2>
                        <div class="d-flex align-items-center">
                            <!-- <a href="index.html"><i class="fas fa-home"></i></a> -->
                            <span>Log In</span>
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="login-contain">
                    <div class="col-xxl-12 d-flex  align-items-center py-5">
                        <div class="col-xxl-6 col-lg-6 d-flex justify-content-end d-xs-none d-sm-none d-md-none d-lg-flex">
                            <img src="/public/assets/img/log-in.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-xxl-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class=" col-xxl-8 d-flex justify-content-end">
                            <div class="login-container d-flex ">
                                <div class="">
                                    <h2>Welcome To Fastkart</h2>
                                    <span>Log In Your Account</span>
                                </div>
                                <form method="post" action="/loginUser">
                                    <div class="form-group">
                                        <input type="email" id="email" name="email" placeholder="Email address"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" name="password" placeholder="Password"
                                            required>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <input type="checkbox" id="remember" name="remember">
                                            <label for="remember">Remember me</label>
                                        </div>
                                        <a href="/forgotpassword">Forgot Password?</a>
                                    </div>
                                    <a href="#">
                                        <button type="submit" class="login-btn">Login</button>
                                    </a>
                                </form>
                                <h6><span>OR</span></h6>
                                <div class="options ">
                                    <a href="#"><button class="login-facebook"><i class="ri-facebook-fill fb"></i>Login
                                            with Facebook</button></a>
                                    <a href="#"><button class="login-google"><i class="ri-google-fill gl"></i>Login with
                                            Google</button></a>
                                </div>
                                <h6></h6>
                                <div class="sign-up text-center d-flex justify-content-center">
                                    <p>Don't have an account?</p> <a href="/signup">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ===login-end=== -->
    <!-- ===footer-start=== -->
    <section class="foot">
        <div class="container">
            <div class="row">
                <div class="footer">
                   
                    <footer class="d-flex flex-wrap text-center align-items-center py-4">
                        <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-12">
                            <p>©2022 Fastkart All rights reserved</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12"></div>
                        <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12">
                            <img src="/public/assets//img/footer.png" class="img-fluid"  alt="">
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12"></div>
                        <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-12 d-flex flex-wrap align-items-center justify-content-center">
                            <p>Stay connected : </p>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                            <a href="#"><i class="ri-pinterest-line"></i></a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <!-- ===footer-end=== -->
    <!-- ===top-start=== -->
    <div class="top-btn">
        <a href="#">
            <i class="ri-arrow-up-s-line"></i>
        </a>
    </div>
    <!-- ===top-end=== -->
    <!-- ===Rs-foot-fixed-start=== -->
    
    <!-- ===Rs-foot-fixed-end=== -->


    <script src="/public/assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/public/assets/js/bootstrap_js_bootstrap.min.js"></script> -->
    <!-- ===top-bar-start=== -->
    <script src="/public/assets/js/cdn_ajax_3.3.1_jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        window.setTimeout(()=> {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 4000);
    </script>
    <!-- ===top-btn-start=== -->
    <script>
        $(document).ready(function () {
            $(".top-btn").css("display", "none");
        });
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 0) {
                $(".top-btn").slideDown(500);
            } else {
                $(".top-btn").slideUp(250);
            }
        });

    </script> -->
    <!-- ===top-btn-end===

</body>

</html>